USE [master]
GO
/****** Object:  Database [ispp3113]    Script Date: 16.10.2025 11:50:39 ******/
CREATE DATABASE [ispp3113]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ispp3113', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQL\MSSQL\DATA\ispp3113.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ispp3113_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQL\MSSQL\DATA\ispp3113_log.ldf' , SIZE = 2304KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ispp3113].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ispp3113]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 16.10.2025 11:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChangedEmail]    Script Date: 16.10.2025 11:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChangedEmail](
	[VisitorId] [int] NOT NULL,
	[Email] [varchar](150) NULL,
	[EditDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ChangedEmail] PRIMARY KEY CLUSTERED 
(
	[VisitorId] ASC,
	[EditDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeletedCategory]    Script Date: 16.10.2025 11:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeletedCategory](
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[DeletedDate] [datetime2](7) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DeletedCategory] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeletedVisitor]    Script Date: 16.10.2025 11:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeletedVisitor](
	[VisitorId] [int] NOT NULL,
	[Phone] [char](10) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Birthday] [datetime2](7) NULL,
	[Email] [varchar](150) NULL,
	[DeletionDate] [datetime2](7) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DeletedVisitor] PRIMARY KEY CLUSTERED 
(
	[VisitorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Film]    Script Date: 16.10.2025 11:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Film](
	[FilmId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Duration] [smallint] NOT NULL,
	[Year] [smallint] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Poster] [varbinary](max) NULL,
	[AgeRating] [varchar](10) NULL,
	[RentalStart] [date] NULL,
	[RentalEnd] [date] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Film] PRIMARY KEY CLUSTERED 
(
	[FilmId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilmGenre]    Script Date: 16.10.2025 11:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilmGenre](
	[FilmId] [int] NOT NULL,
	[GenreId] [int] NOT NULL,
 CONSTRAINT [PK_FilmGenre] PRIMARY KEY CLUSTERED 
(
	[FilmId] ASC,
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Game]    Script Date: 16.10.2025 11:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[GameId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [decimal](16, 2) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsDelete] [bit] NOT NULL,
	[KeysAmount] [nchar](10) NOT NULL,
 CONSTRAINT [PK__Game__2AB897FD42579E67] PRIMARY KEY CLUSTERED 
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GamePrice]    Script Date: 16.10.2025 11:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GamePrice](
	[GameId] [int] NOT NULL,
	[OldPrice] [decimal](16, 2) NOT NULL,
	[ChangingDate] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 16.10.2025 11:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[GenreId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Genre] PRIMARY KEY CLUSTERED 
(
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hall]    Script Date: 16.10.2025 11:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hall](
	[HallId] [tinyint] IDENTITY(1,1) NOT NULL,
	[Cinema] [nvarchar](50) NOT NULL,
	[HallNumber] [tinyint] NOT NULL,
	[RowsQuantity] [tinyint] NOT NULL,
	[SeatsQuantity] [tinyint] NOT NULL,
	[IsVip] [bit] NOT NULL,
 CONSTRAINT [PK_Hall] PRIMARY KEY CLUSTERED 
(
	[HallId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 16.10.2025 11:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[SaleId] [int] IDENTITY(1,1) NOT NULL,
	[GameId] [int] NOT NULL,
	[KeysAmount] [smallint] NOT NULL,
	[SaleDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Sale] PRIMARY KEY CLUSTERED 
(
	[SaleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Session]    Script Date: 16.10.2025 11:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Session](
	[SessionId] [int] IDENTITY(1,1) NOT NULL,
	[FilmId] [int] NOT NULL,
	[HallId] [tinyint] NOT NULL,
	[Price] [decimal](4, 0) NOT NULL,
	[SessionTime] [datetime2](7) NOT NULL,
	[Is3d] [bit] NOT NULL,
 CONSTRAINT [PK_Session] PRIMARY KEY CLUSTERED 
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 16.10.2025 11:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[TicketId] [int] IDENTITY(1,1) NOT NULL,
	[VisitorId] [int] NOT NULL,
	[SessionId] [int] NOT NULL,
	[Row] [tinyint] NOT NULL,
	[Seat] [tinyint] NOT NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visitor]    Script Date: 16.10.2025 11:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visitor](
	[VisitorId] [int] IDENTITY(1,1) NOT NULL,
	[Phone] [char](10) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Birthday] [datetime2](7) NULL,
	[Email] [varchar](150) NULL,
 CONSTRAINT [PK_Visitor] PRIMARY KEY CLUSTERED 
(
	[VisitorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [Name]) VALUES (1, N'Симулятор')
INSERT [dbo].[Category] ([CategoryId], [Name]) VALUES (2, N'Шутер')
INSERT [dbo].[Category] ([CategoryId], [Name]) VALUES (3, N'RPG')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
INSERT [dbo].[ChangedEmail] ([VisitorId], [Email], [EditDate]) VALUES (6, N'test1@yandex.ru', CAST(N'2025-09-26T09:04:33.0733333' AS DateTime2))
INSERT [dbo].[ChangedEmail] ([VisitorId], [Email], [EditDate]) VALUES (6, N'test2@yandex.ru', CAST(N'2025-09-26T09:04:37.1700000' AS DateTime2))
INSERT [dbo].[ChangedEmail] ([VisitorId], [Email], [EditDate]) VALUES (6, N'test2@yandex.ru', CAST(N'2025-09-26T09:39:33.2800000' AS DateTime2))
GO
INSERT [dbo].[DeletedCategory] ([CategoryId], [Name], [DeletedDate], [Login]) VALUES (4, N'рогалик', CAST(N'2025-09-24T11:47:16.2600000' AS DateTime2), N'ispp3113')
GO
INSERT [dbo].[DeletedVisitor] ([VisitorId], [Phone], [Name], [Birthday], [Email], [DeletionDate], [Login]) VALUES (8, N'1111111111', N'Тестов Тест Тестович', NULL, NULL, CAST(N'2025-09-26T09:27:35.2600000' AS DateTime2), N'ispp3113')
INSERT [dbo].[DeletedVisitor] ([VisitorId], [Phone], [Name], [Birthday], [Email], [DeletionDate], [Login]) VALUES (9, N'1111111111', N'Test', NULL, N'Test@yandex.ru', CAST(N'2025-09-26T09:43:07.3433333' AS DateTime2), N'ispp3113')
GO
SET IDENTITY_INSERT [dbo].[Film] ON 

INSERT [dbo].[Film] ([FilmId], [Title], [Duration], [Year], [Description], [Poster], [AgeRating], [RentalStart], [RentalEnd], [IsDeleted]) VALUES (1, N'1 + 1', 90, 2011, N'Пострадав в результате несчастного случая, богатый аристократ Филипп нанимает в помощники человека, который менее всего подходит для этой работы, – молодого жителя предместья Дрисса, только что освободившегося из тюрьмы. Несмотря на то, что Филипп прикован к инвалидному креслу, Дриссу удается привнести в размеренную жизнь аристократа дух приключений.', NULL, N'18+', NULL, NULL, 1)
INSERT [dbo].[Film] ([FilmId], [Title], [Duration], [Year], [Description], [Poster], [AgeRating], [RentalStart], [RentalEnd], [IsDeleted]) VALUES (2, N'Оно', 60, 2018, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Film] ([FilmId], [Title], [Duration], [Year], [Description], [Poster], [AgeRating], [RentalStart], [RentalEnd], [IsDeleted]) VALUES (3, N'Гоголь', 75, 2010, NULL, NULL, NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Film] OFF
GO
INSERT [dbo].[FilmGenre] ([FilmId], [GenreId]) VALUES (3, 1)
INSERT [dbo].[FilmGenre] ([FilmId], [GenreId]) VALUES (3, 2)
INSERT [dbo].[FilmGenre] ([FilmId], [GenreId]) VALUES (4, 3)
GO
SET IDENTITY_INSERT [dbo].[Game] ON 

INSERT [dbo].[Game] ([GameId], [CategoryId], [Name], [Price], [Description], [IsDelete], [KeysAmount]) VALUES (1, 1, N'SimCity', CAST(1511.00 AS Decimal(16, 2)), N'Градостроительный симулятор снова с вами! Создайте город своей мечты', 0, N'98        ')
INSERT [dbo].[Game] ([GameId], [CategoryId], [Name], [Price], [Description], [IsDelete], [KeysAmount]) VALUES (2, 2, N'TITANFALL', CAST(2311.00 AS Decimal(16, 2)), N'Эта игра перенесет вас во вселенную, где малое противопоставляется большому, природа – индустрии, а человек – машине', 0, N'100       ')
INSERT [dbo].[Game] ([GameId], [CategoryId], [Name], [Price], [Description], [IsDelete], [KeysAmount]) VALUES (3, 2, N'Battlefield 4', CAST(911.40 AS Decimal(16, 2)), N'Battlefield 4 – это определяющий для жанра, полный экшена боевик, известный своей разрушаемостью, равных которой нет', 0, N'100       ')
SET IDENTITY_INSERT [dbo].[Game] OFF
GO
INSERT [dbo].[GamePrice] ([GameId], [OldPrice], [ChangingDate]) VALUES (4, CAST(16.00 AS Decimal(16, 2)), CAST(N'2025-09-24T11:35:43.4733333' AS DateTime2))
INSERT [dbo].[GamePrice] ([GameId], [OldPrice], [ChangingDate]) VALUES (3, CAST(900.40 AS Decimal(16, 2)), CAST(N'2025-09-24T11:35:43.4733333' AS DateTime2))
INSERT [dbo].[GamePrice] ([GameId], [OldPrice], [ChangingDate]) VALUES (2, CAST(2300.00 AS Decimal(16, 2)), CAST(N'2025-09-24T11:35:43.4733333' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Genre] ON 

INSERT [dbo].[Genre] ([GenreId], [Title]) VALUES (1, N'Боевик')
INSERT [dbo].[Genre] ([GenreId], [Title]) VALUES (2, N'Ужастик')
INSERT [dbo].[Genre] ([GenreId], [Title]) VALUES (3, N'Документальный')
SET IDENTITY_INSERT [dbo].[Genre] OFF
GO
SET IDENTITY_INSERT [dbo].[Hall] ON 

INSERT [dbo].[Hall] ([HallId], [Cinema], [HallNumber], [RowsQuantity], [SeatsQuantity], [IsVip]) VALUES (1, N'Титан-Арена', 1, 30, 25, 0)
INSERT [dbo].[Hall] ([HallId], [Cinema], [HallNumber], [RowsQuantity], [SeatsQuantity], [IsVip]) VALUES (3, N'Титан-Арена', 2, 10, 5, 1)
INSERT [dbo].[Hall] ([HallId], [Cinema], [HallNumber], [RowsQuantity], [SeatsQuantity], [IsVip]) VALUES (4, N'Русь', 1, 30, 30, 0)
SET IDENTITY_INSERT [dbo].[Hall] OFF
GO
SET IDENTITY_INSERT [dbo].[Sale] ON 

INSERT [dbo].[Sale] ([SaleId], [GameId], [KeysAmount], [SaleDate]) VALUES (1, 1, 1, CAST(N'2025-09-25T13:05:10.7600000' AS DateTime2))
INSERT [dbo].[Sale] ([SaleId], [GameId], [KeysAmount], [SaleDate]) VALUES (2, 1, 1, CAST(N'2025-09-25T13:54:39.4633333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Sale] OFF
GO
SET IDENTITY_INSERT [dbo].[Session] ON 

INSERT [dbo].[Session] ([SessionId], [FilmId], [HallId], [Price], [SessionTime], [Is3d]) VALUES (1, 1, 1, CAST(200 AS Decimal(4, 0)), CAST(N'2025-09-22T10:56:27.4400000' AS DateTime2), 1)
INSERT [dbo].[Session] ([SessionId], [FilmId], [HallId], [Price], [SessionTime], [Is3d]) VALUES (3, 2, 1, CAST(666 AS Decimal(4, 0)), CAST(N'2025-09-22T10:56:27.4400000' AS DateTime2), 0)
INSERT [dbo].[Session] ([SessionId], [FilmId], [HallId], [Price], [SessionTime], [Is3d]) VALUES (4, 4, 3, CAST(99 AS Decimal(4, 0)), CAST(N'2025-09-22T10:57:43.2333333' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Session] OFF
GO
SET IDENTITY_INSERT [dbo].[Ticket] ON 

INSERT [dbo].[Ticket] ([TicketId], [VisitorId], [SessionId], [Row], [Seat]) VALUES (1, 2, 1, 10, 2)
INSERT [dbo].[Ticket] ([TicketId], [VisitorId], [SessionId], [Row], [Seat]) VALUES (2, 6, 1, 10, 3)
INSERT [dbo].[Ticket] ([TicketId], [VisitorId], [SessionId], [Row], [Seat]) VALUES (3, 7, 1, 12, 6)
SET IDENTITY_INSERT [dbo].[Ticket] OFF
GO
SET IDENTITY_INSERT [dbo].[Visitor] ON 

INSERT [dbo].[Visitor] ([VisitorId], [Phone], [Name], [Birthday], [Email]) VALUES (2, N'9937513058', N'Матигоров Никита', NULL, N'n.matigorov@yandex.ru')
INSERT [dbo].[Visitor] ([VisitorId], [Phone], [Name], [Birthday], [Email]) VALUES (6, N'9925729713', NULL, NULL, N'test3@yandex.ru')
INSERT [dbo].[Visitor] ([VisitorId], [Phone], [Name], [Birthday], [Email]) VALUES (7, N'5737591393', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Visitor] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Hall_Cinema_HallNumber]    Script Date: 16.10.2025 11:50:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Hall_Cinema_HallNumber] ON [dbo].[Hall]
(
	[Cinema] ASC,
	[HallNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Ticket]    Script Date: 16.10.2025 11:50:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Ticket] ON [dbo].[Ticket]
(
	[SessionId] ASC,
	[Seat] ASC,
	[Row] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Visitor_Phone]    Script Date: 16.10.2025 11:50:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Visitor_Phone] ON [dbo].[Visitor]
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChangedEmail] ADD  CONSTRAINT [DF_ChangedEmail_EditDate]  DEFAULT (getdate()) FOR [EditDate]
GO
ALTER TABLE [dbo].[DeletedCategory] ADD  CONSTRAINT [DF_DeletedCategory_DeletedDate]  DEFAULT (getdate()) FOR [DeletedDate]
GO
ALTER TABLE [dbo].[DeletedCategory] ADD  CONSTRAINT [DF_DeletedCategory_Login]  DEFAULT (original_login()) FOR [Login]
GO
ALTER TABLE [dbo].[DeletedVisitor] ADD  CONSTRAINT [DF_DeletedVisitor_DeletionDate]  DEFAULT (getdate()) FOR [DeletionDate]
GO
ALTER TABLE [dbo].[DeletedVisitor] ADD  CONSTRAINT [DF_DeletedVisitor_Login]  DEFAULT (original_login()) FOR [Login]
GO
ALTER TABLE [dbo].[Film] ADD  CONSTRAINT [DF_Film_Duration]  DEFAULT ((90)) FOR [Duration]
GO
ALTER TABLE [dbo].[Film] ADD  CONSTRAINT [DF_Film_Year]  DEFAULT (datepart(year,getdate())) FOR [Year]
GO
ALTER TABLE [dbo].[Film] ADD  CONSTRAINT [DF_Film_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Game] ADD  CONSTRAINT [DF_Game_IsDelete]  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Game] ADD  CONSTRAINT [DF_Game_KeysAmount]  DEFAULT ((100)) FOR [KeysAmount]
GO
ALTER TABLE [dbo].[GamePrice] ADD  CONSTRAINT [DF_GamePrice_ChangingDate]  DEFAULT (getdate()) FOR [ChangingDate]
GO
ALTER TABLE [dbo].[Hall] ADD  CONSTRAINT [DF_Hall_Cinema]  DEFAULT (N'Макси') FOR [Cinema]
GO
ALTER TABLE [dbo].[Hall] ADD  CONSTRAINT [DF_Hall_IsVip]  DEFAULT ((0)) FOR [IsVip]
GO
ALTER TABLE [dbo].[Sale] ADD  CONSTRAINT [DF_Sale_KeysAmount]  DEFAULT ((1)) FOR [KeysAmount]
GO
ALTER TABLE [dbo].[Sale] ADD  CONSTRAINT [DF_Sale_SaleDate]  DEFAULT (getdate()) FOR [SaleDate]
GO
ALTER TABLE [dbo].[Session] ADD  CONSTRAINT [DF_Session_Price]  DEFAULT ((200)) FOR [Price]
GO
ALTER TABLE [dbo].[Session] ADD  CONSTRAINT [DF_Session_SessionTime]  DEFAULT (getdate()) FOR [SessionTime]
GO
ALTER TABLE [dbo].[Session] ADD  CONSTRAINT [DF_Session_Is3D]  DEFAULT ((0)) FOR [Is3d]
GO
ALTER TABLE [dbo].[FilmGenre]  WITH CHECK ADD  CONSTRAINT [FK_FilmGenre_Film] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Film] ([FilmId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[FilmGenre] CHECK CONSTRAINT [FK_FilmGenre_Film]
GO
ALTER TABLE [dbo].[FilmGenre]  WITH CHECK ADD  CONSTRAINT [FK_FilmGenre_Genre] FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genre] ([GenreId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[FilmGenre] CHECK CONSTRAINT [FK_FilmGenre_Genre]
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [FK_Game_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [FK_Game_Category]
GO
ALTER TABLE [dbo].[GamePrice]  WITH CHECK ADD  CONSTRAINT [FK_GamePrice_Game] FOREIGN KEY([GameId])
REFERENCES [dbo].[Game] ([GameId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GamePrice] CHECK CONSTRAINT [FK_GamePrice_Game]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Sale_Game] FOREIGN KEY([GameId])
REFERENCES [dbo].[Game] ([GameId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_Sale_Game]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_Film] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Film] ([FilmId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_Film]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_Hall] FOREIGN KEY([HallId])
REFERENCES [dbo].[Hall] ([HallId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_Hall]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Session] FOREIGN KEY([SessionId])
REFERENCES [dbo].[Session] ([SessionId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Session]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Visitor] FOREIGN KEY([VisitorId])
REFERENCES [dbo].[Visitor] ([VisitorId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Visitor]
GO
ALTER TABLE [dbo].[Hall]  WITH CHECK ADD  CONSTRAINT [CK_Hall_Cinema] CHECK  (([Cinema]='Русь' OR [Cinema]='Титан-Арена' OR [Cinema]='Макси'))
GO
ALTER TABLE [dbo].[Hall] CHECK CONSTRAINT [CK_Hall_Cinema]
GO
ALTER TABLE [dbo].[Hall]  WITH CHECK ADD  CONSTRAINT [CK_Hall_RowsQuantity] CHECK  (([RowsQuantity]>=(5) AND [RowsQuantity]<=(30)))
GO
ALTER TABLE [dbo].[Hall] CHECK CONSTRAINT [CK_Hall_RowsQuantity]
GO
ALTER TABLE [dbo].[Hall]  WITH CHECK ADD  CONSTRAINT [CK_Hall_SeatsQuantity] CHECK  (([SeatsQuantity]>=(5) AND [SeatsQuantity]<=(30)))
GO
ALTER TABLE [dbo].[Hall] CHECK CONSTRAINT [CK_Hall_SeatsQuantity]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [CK_Ticket_Row] CHECK  (([Row]>(0)))
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [CK_Ticket_Row]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [CK_Ticket_Seat] CHECK  (([Seat]>(0)))
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [CK_Ticket_Seat]
GO
/****** Object:  Trigger [dbo].[TrSaveCategory]    Script Date: 16.10.2025 11:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrSaveCategory]
    ON [dbo].[Category]
	AFTER DELETE
	AS
		INSERT INTO DeletedCategory(CategoryId, [Name])
		SELECT CategoryId, [Name] FROM deleted;
GO
ALTER TABLE [dbo].[Category] DISABLE TRIGGER [TrSaveCategory]
GO
/****** Object:  Trigger [dbo].[TrDeleteFilm]    Script Date: 16.10.2025 11:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrDeleteFilm]
    ON [dbo].[Film]
    INSTEAD OF DELETE
    AS
		UPDATE Film
		SET IsDeleted = 1
		WHERE FilmId IN (SELECT FilmId FROM deleted);
GO
ALTER TABLE [dbo].[Film] ENABLE TRIGGER [TrDeleteFilm]
GO
/****** Object:  Trigger [dbo].[TrChangePrice]    Script Date: 16.10.2025 11:50:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--CREATE TRIGGER TrGamesRowsCount
--    ON Game
--    AFTER DELETE, INSERT, UPDATE
--    AS
--		PRINT 'Количество изменённых строк: ' + CAST(@@ROWCOUNT AS VARCHAR(10));

--UPDATE Game
--SET Price+=1;


--CREATE TRIGGER TrSavePrice
--    ON Game
--	AFTER UPDATE
--    AS
--		IF UPDATE(Price)
--		INSERT INTO GamePrice 
--			(GameId, OldPrice)
--		SELECT GameId, Price
--		FROM deleted;

--UPDATE Game
--SET Price+=10
--WHERE GameId<5;

--SELECT * FROM GamePrice;


--CREATE TRIGGER TrSaveCategory
--    ON Category
--	AFTER DELETE
--	AS
--		INSERT INTO DeletedCategory(CategoryId, [Name])
--		SELECT CategoryId, [Name] FROM deleted;

--INSERT INTO Category([Name]) VALUES('рогалик'), ('jROG');


--CREATE TRIGGER TrDeleteGame
--    ON Game
--	INSTEAD OF DELETE
--	AS
--		UPDATE Game
--		SET IsDeleted=1
--		WHERE GameId IN (SELECT GameId FROM deleted)


--CREATE TRIGGER TraddSale
--    ON Sale
--    AFTER INSERT
--    AS
--		UPDATE Game
--		SET KeysAmount -= inserted.KeysAmount
--		FROM Game
--			JOIN inserted ON Game.GameId = inserted.GameId;

CREATE TRIGGER [dbo].[TrChangePrice]
ON [dbo].[Game]
AFTER UPDATE
AS
  IF UPDATE(Price)
    IF EXISTS (SELECT * 
	           FROM inserted i
			     JOIN deleted d ON i.GameId=d.GameId
			   WHERE i.Price < d.Price)
		THROW 50000, 'Нельзя уменьшать цену', 1;
GO
ALTER TABLE [dbo].[Game] ENABLE TRIGGER [TrChangePrice]
GO
/****** Object:  Trigger [dbo].[TrGamesRowsCount]    Script Date: 16.10.2025 11:50:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrGamesRowsCount]
    ON [dbo].[Game]
    AFTER DELETE, INSERT, UPDATE
    AS
		PRINT 'Количество изменённых строк: ' + CAST(@@ROWCOUNT AS VARCHAR(10));
GO
ALTER TABLE [dbo].[Game] ENABLE TRIGGER [TrGamesRowsCount]
GO
/****** Object:  Trigger [dbo].[TrSavePrice]    Script Date: 16.10.2025 11:50:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrSavePrice]
    ON [dbo].[Game]
	AFTER UPDATE
    AS
		IF UPDATE(Price)
		INSERT INTO GamePrice 
			(GameId, OldPrice)
		SELECT GameId, Price
		FROM deleted;
GO
ALTER TABLE [dbo].[Game] ENABLE TRIGGER [TrSavePrice]
GO
/****** Object:  Trigger [dbo].[TraddSale]    Script Date: 16.10.2025 11:50:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TraddSale]
    ON [dbo].[Sale]
    AFTER INSERT
    AS
		UPDATE Game
		SET KeysAmount -= inserted.KeysAmount
		FROM Game
			JOIN inserted ON Game.GameId = inserted.GameId;
GO
ALTER TABLE [dbo].[Sale] DISABLE TRIGGER [TraddSale]
GO
/****** Object:  Trigger [dbo].[TrAddSaleWithCheck]    Script Date: 16.10.2025 11:50:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--CREATE TRIGGER TrGamesRowsCount
--    ON Game
--    AFTER DELETE, INSERT, UPDATE
--    AS
--		PRINT 'Количество изменённых строк: ' + CAST(@@ROWCOUNT AS VARCHAR(10));

--UPDATE Game
--SET Price+=1;


--CREATE TRIGGER TrSavePrice
--    ON Game
--	AFTER UPDATE
--    AS
--		IF UPDATE(Price)
--		INSERT INTO GamePrice 
--			(GameId, OldPrice)
--		SELECT GameId, Price
--		FROM deleted;

--UPDATE Game
--SET Price+=10
--WHERE GameId<5;

--SELECT * FROM GamePrice;


--CREATE TRIGGER TrSaveCategory
--    ON Category
--	AFTER DELETE
--	AS
--		INSERT INTO DeletedCategory(CategoryId, [Name])
--		SELECT CategoryId, [Name] FROM deleted;

--INSERT INTO Category([Name]) VALUES('рогалик'), ('jROG');


--CREATE TRIGGER TrDeleteGame
--    ON Game
--	INSTEAD OF DELETE
--	AS
--		UPDATE Game
--		SET IsDeleted=1
--		WHERE GameId IN (SELECT GameId FROM deleted)


--CREATE TRIGGER TraddSale
--    ON Sale
--    AFTER INSERT
--    AS
--		UPDATE Game
--		SET KeysAmount -= inserted.KeysAmount
--		FROM Game
--			JOIN inserted ON Game.GameId = inserted.GameId;

--CREATE TRIGGER TrChangePrice
--ON Game
--AFTER UPDATE
--AS
--  IF UPDATE(Price)
--    IF EXISTS (SELECT * 
--	           FROM inserted i
--			     JOIN deleted d ON i.GameId=d.GameId
--			   WHERE i.Price < d.Price)
--		THROW 50000, 'Нельзя уменьшать цену', 1;

--disable trigger TraddSale on Sale;

CREATE TRIGGER [dbo].[TrAddSaleWithCheck]
ON [dbo].[Sale]
AFTER INSERT
AS
BEGIN 
	-- объявление переменных
	DECLARE @gamesKeys SMALLINT;
	DECLARE @salesKeys SMALLINT;
	-- присваивание значений
	SELECT @gamesKeys=g.KeysAmount, @salesKeys=i.KeysAmount
	FROM Game g JOIN inserted i ON g.GameId=i.GameId;

	IF (@gamesKeys < @salesKeys)
		THROW 50001, 'Недостаточно ключей игры', 1;
	ELSE
		UPDATE Game
		SET KeysAmount -= inserted.KeysAmount
		FROM Game JOIN inserted ON Game.GameId = inserted.GameId;
END;
GO
ALTER TABLE [dbo].[Sale] DISABLE TRIGGER [TrAddSaleWithCheck]
GO
/****** Object:  Trigger [dbo].[TrInsertWithCheckPrice]    Script Date: 16.10.2025 11:50:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrInsertWithCheckPrice]
    ON [dbo].[Session]
		INSTEAD OF INSERT
		AS
			INSERT INTO [Session]
			   (FilmId
			   ,HallId
			   ,Price
			   ,SessionTime
			   ,Is3d)
		 SELECT FilmId, HallId, CASE WHEN Price < 100 THEN 100 ELSE Price END price, SessionTime, Is3d
		 FROM inserted;
GO
ALTER TABLE [dbo].[Session] ENABLE TRIGGER [TrInsertWithCheckPrice]
GO
/****** Object:  Trigger [dbo].[TrInsertWithCheckSeatAndRow]    Script Date: 16.10.2025 11:50:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrInsertWithCheckSeatAndRow]
    ON [dbo].[Ticket]
    INSTEAD OF INSERT
    AS
    BEGIN
		DECLARE @seatsQuantityInHall TINYINT;
		DECLARE @rowsQuantityInHall TINYINT;

		DECLARE @seatInTicket TINYINT;
		DECLARE @rowInTicket TINYINT;

		SELECT @seatsQuantityInHall = h.SeatsQuantity, @rowsQuantityInHall = h.RowsQuantity FROM Hall h
			JOIN [Session] s ON s.HallId = h.HallId
			JOIN inserted i ON i.SessionId = s.SessionId;

		If (@seatInTicket > @seatsQuantityInHall OR @rowInTicket > @rowsQuantityInHall)
			THROW 50000, 'Неправильно указано место.', 1;
		ELSE
			INSERT INTO [dbo].[Ticket]
					([VisitorId]
					,[SessionId]
					,[Row]
					,[Seat])
			SELECT VisitorId, SessionId, [Row], Seat FROM inserted;
    END
GO
ALTER TABLE [dbo].[Ticket] DISABLE TRIGGER [TrInsertWithCheckSeatAndRow]
GO
/****** Object:  Trigger [dbo].[TrChangeEmail]    Script Date: 16.10.2025 11:50:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1
CREATE TRIGGER [dbo].[TrChangeEmail]
    ON [dbo].[Visitor]
    AFTER UPDATE
    AS
		IF UPDATE (Email)
			INSERT INTO ChangedEmail (VisitorId, Email)
			SELECT VisitorId, Email FROM deleted;

-- 2
--CREATE TRIGGER TrDeleteFilm
--    ON Film
--    INSTEAD OF DELETE
--    AS
--		UPDATE Film
--		SET IsDeleted = 1
--		WHERE FilmId IN (SELECT FilmId FROM deleted);

GO
ALTER TABLE [dbo].[Visitor] DISABLE TRIGGER [TrChangeEmail]
GO
/****** Object:  Trigger [dbo].[TrDeleteVisitor]    Script Date: 16.10.2025 11:50:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrDeleteVisitor]
    ON [dbo].[Visitor]
    AFTER DELETE
    AS
		INSERT INTO DeletedVisitor
           (VisitorId
           ,Phone
           ,[Name]
           ,Birthday
           ,Email)
     SELECT * FROM deleted;
GO
ALTER TABLE [dbo].[Visitor] DISABLE TRIGGER [TrDeleteVisitor]
GO
USE [master]
GO
