USE [ispp3113]
GO
/****** Object:  StoredProcedure [dbo].[AddCategory]    Script Date: 27.11.2025 11:37:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddCategory] 
    @name nvarchar(100),
    @id int OUTPUT 
AS
BEGIN
    INSERT INTO Category([name]) VALUES(@name);
	SET @id = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[AddHall]    Script Date: 27.11.2025 11:37:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddHall]
	@hallNumber TINYINT,
	@RowsQuantity TINYINT,
	@SeatsQuantity TINYINT,
	@cinema nvarchar(50) = 'Титан-Арена'
AS
BEGIN
	DECLARE @hallId TINYINT;

	SELECT @hallId = HallId
	FROM Hall
	WHERE HallNumber = @hallNumber AND Cinema = @cinema
	
	IF @hallId IS NULL
		BEGIN
			INSERT INTO [dbo].[Hall]
			   ([Cinema]
			   ,[HallNumber]
			   ,[RowsQuantity]
			   ,[SeatsQuantity]
			   ,[IsVip])
		 VALUES
			   (@cinema
			   ,@hallNumber
			   ,@RowsQuantity
			   ,@SeatsQuantity
			   ,0)
	END
	ELSE
	BEGIN
		UPDATE [dbo].[Hall]
		SET [RowsQuantity] = @RowsQuantity
			,[SeatsQuantity] = @SeatsQuantity
		WHERE HallId = @hallID
	END
END
GO
/****** Object:  StoredProcedure [dbo].[AddTicket]    Script Date: 27.11.2025 11:37:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddTicket]
    @phone char(10),
	@sessionId int,
	@row tinyint,
	@seat tinyint,
    @ticketId int OUTPUT 
AS
BEGIN
	INSERT INTO [dbo].[Ticket]
           ([VisitorId]
           ,[SessionId]
           ,[Row]
           ,[Seat])
	SELECT VisitorId
		,@sessionId
        ,@row
        ,@seat 
	FROM Visitor
	WHERE Phone = @phone;

	SET @ticketId = SCOPE_IDENTITY();
END
GO
