USE [ispp3113]
GO
/****** Object:  UserDefinedFunction [dbo].[GetGamesCount]    Script Date: 27.11.2025 11:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetGamesCount]
(
    @categoryId int
)
RETURNS INT
AS
BEGIN
    DECLARE @count INT
	SELECT @count = COUNT(*)
	FROM Game
	WHERE CategoryId = @categoryId;
	RETURN @count
END
GO
/****** Object:  UserDefinedFunction [dbo].[GetVisistorScore]    Script Date: 27.11.2025 11:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetVisistorScore]
(
    @visistorId INT
)
RETURNS INT
AS
BEGIN
	DECLARE @score SMALLINT;
	SELECT @score = SUM(f.Duration)
			FROM Ticket t
				JOIN [Session] s ON t.SessionId = s.SessionId
				JOIN Film f ON s.FilmId = f.FilmId
			WHERE t.VisitorId = @visistorId;

	RETURN ISNULL(@score, 0);
END
GO
/****** Object:  UserDefinedFunction [dbo].[GetFilmsByGenre]    Script Date: 27.11.2025 11:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetFilmsByGenre]
(
    @genre nvarchar(50)
)
RETURNS TABLE AS RETURN
(
    SELECT f.FilmId, f.Title, STRING_AGG(g.Title, ', ') 'Genres'
	FROM Film f
		JOIN FilmGenre fg ON f.FilmId = fg.FilmId
		JOIN Genre g ON fg.GenreId = g.GenreId
	GROUP BY f.FilmId, f.Title
	HAVING CHARINDEX(@genre, STRING_AGG(g.Title, ', ')) > 0
		

)
GO
/****** Object:  UserDefinedFunction [dbo].[GetGamesByPrice]    Script Date: 27.11.2025 11:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetGamesByPrice]
(
    @maxPrice int = 1000
)
RETURNS TABLE AS RETURN
(
    SELECT *
	FROM Game
	WHERE Price < @maxPrice
)
GO
